.App {
  text-align: center;
  color: white;
  
}
 .welcome {
   padding-top: 20vh;
  background-color: rgb(245, 238, 238);
  height: 100vh;
 }
.welcome h1{
  text-shadow: 2px 2px 4px #000000;
  font-size: 10vh;
  padding: 5vh;
}

.welcome h3{
  text-shadow: 2px 2px 4px #000000;
  font-size: 5vh;
}



/* .menu {
  padding: 1vh;

}

.about {
  text-align: left;
  margin: 5vh;
  padding: 2vh;
  font-size: 5vh;
} */


.image {
  border-radius: 50%;
 
  height: 35vh;
  width: 35vh;
margin-top: 8vh;
}

.background{
  height: 80vh;
 
}
.background p{
  color: #000000;
  padding-top: 25vh;
  padding-left: 5vh;
  font-size: 2.5vh;
  text-align: left;
}

.background h3 {
  color: #000000;
  font-size: 2.5vh;
  text-align: left;
  padding-left: 5vh;
}

.work {
  padding-top: 20vh;
  background-color: rgb(245, 238, 238);
 
}

.work p{
  color: #000000;
  padding-left: 5vh;
  font-size: 2.5vh;
  text-align: left;
}


.work h2 {
  color: #000000;
font-size: 3.5vh;
text-align: left;
margin-left: 25vh;

}
.work h4 {
  color: #000000;
font-size: 2.2vh;
text-align: left;
margin-left: 25vh;
}